
##### SYSTEM OPTIONS #####
export TF_BASH=sbatch
#export TF_BASH=bash

#export DOCKER_SRC=/home/vantwisk/vantwisk/fusions/git/longread-fusion-transcript-pipeline/src
export DOCKER_SRC=/src


## SCRATCH STORAGE DIRECTORY
#export STORAGE_DIR=/datastore/scratch/users/vantwisk/sim5
export STORAGE_DIR=/mnt
#export STORAGE_DIR=/home/vantwisk/vantwisk/fusions/seq_run4
#export /datastore/scratch/users/vantwisk/sim2
[ ! -d ${STORAGE_DIR} ] && mkdir ${STORAGE_DIR}



export THREADS=32

## LONGREAD AND SHORTREAD READ SIMULATION SETTINGS
export N_TRANSCRIPTS='("canoncical")' #('1' '2' '4' '8' '16')
export REPLICATES='10'
export COVERAGE='( 3 5 10 30 50 100 )'
export QUALITY='("95,100,4")'  #('75,90,8' '87,97,5'  '95,100,4')
export TECH='("pacbio2021" "nanopore2023")'
export READ_LENGTHS='(150)'

export MIN_OVERLAP_LEN=100 #REPLACE_LONGGF_MIN_OVERLAP_LEN
export BIN_SIZE=50 #REPLACE_LONGGF_BIN_SIZE
export MIN_MAP_LENGTH=100 #REPLACE_LONGGF_MIN_MAP_LENGTH

## LONGGF OPTIONS
export LONGGF_MIN_OVERLAP_LEN=100 #REPLACE_LONGGF_MIN_OVERLAP_LEN
export LONGGF_BIN_SIZE=50 #REPLACE_LONGGF_BIN_SIZE
export LONGGF_MIN_MAP_LENGTH=100 #REPLACE_LONGGF_MIN_MAP_LENGTH

export OPT_LONGGF_MIN_OVERLAP_LEN=100 #REPLACE_OPT_LONGGF_MIN_OVERLAP_LEN
export OPT_LONGGF_BIN_SIZE=50 #REPLACE_LONGGF_OPT_BIN_SIZE
export OPT_LONGGF_MIN_MAP_LENGTH=100 #REPLACE_LONGGF_OPT_MIN_MAP_LENGTH

## JAFFAL OPTIONS
export JAFFAL_MINLEN=35 #REPLACE_JAFFAL_MINLEN
export JAFFAL_MINQSCORE=0 #REPLACE_JAFFAL_MINQSCORE
export JAFFAL_GAPSIZE=1000 #REPLACE_JAFFAL_GAPSIZE
export JAFFAL_FINALGAPSIZE=10000 #REPLACE_JAFFAL_FINALGAPSIZE
export JAFFA_REASSIGN_DIST=0 #REPLACE_JAFFA_REASSIGN_DIST
export JAFFA_OVERHANG=15 #REPLACE_JAFFA_OVERHANG

export OPT_JAFFAL_MINLEN=35 #REPLACE_OPT_JAFFAL_MINLEN
export OPT_JAFFAL_MINQSCORE=0 #REPLACE_OPT_JAFFAL_MINQSCORE
export OPT_JAFFAL_GAPSIZE=1000 #REPLACE_OPT_JAFFAL_GAPSIZE
export OPT_JAFFAL_FINALGAPSIZE=10000 #REPLACE_OPT_JAFFAL_FINALGAPSIZE
export OPT_JAFFA_REASSIGN_DIST=0 #REPLACE_OPT_JAFFA_REASSIGN_DIST
export OPT_JAFFA_OVERHANG=15 #REPLACE_OPT_JAFFA_OVERHANG

## GENION OPTIONS
export GENION_MIN_SUPPORT=2 #REPLACE_GENION_MIN_SUPPORT
export GENION_MIN_RT_DISTANCE=500000 #REPLACE_GENION_MIN_RT_DISTANCE
export GENION_MAX_RT_FIN=0.2 #REPLACE_GENION_MAX_RT_FIN
export GENION_SUFFIX_LENGTH=100 #REPLACE_GENION_SUFFIX_LENGTH
export GENION_PREFIX_LENGTH=100 #REPLACE_GENION_PREFIX_LENGTH
export GENION_MID_LENGTH=100 #REPLACE_GENION_MID_LENGTH

export OPT_GENION_MIN_SUPPORT=2 #REPLACE_OPT_GENION_MIN_SUPPORT
export OPT_GENION_MIN_RT_DISTANCE=500000 #REPLACE_OPT_GENION_MIN_RT_DISTANCE
export OPT_GENION_MAX_RT_FIN=0.2 #REPLACE_OPT_GENION_MAX_RT_FIN
export OPT_GENION_SUFFIX_LENGTH=100 #REPLACE_OPT_GENION_SUFFIX_LENGTH
export OPT_GENION_PREFIX_LENGTH=100 #REPLACE_OPT_GENION_PREFIX_LENGTH
export OPT_GENION_MID_LENGTH=100 #REPLACE_OPT_GENION_MID_LENGTH

## FUSIONSEEKER OPTIONS
export FUSIONSEEKER_MAXDISTANCE=40 #REPLACE_FUSIONSEEKER_MAXDISTANCE

export OPT_FUSIONSEEKER_MAXDISTANCE=40 #REPLACE_OPT_FUSIONSEEKER_MAXDISTANCE

## PBFUSION OPTIONS
export PBFUSION_MIN_COVERAGE=2 #REPLACE_PBFUSION_MIN_COVERAGE
export PBFUSION_MIN_MEAN_IDENTITY=0.93 #REPLACE_PBFUSION_MIN_MEAN_IDENTITY
export PBFUSION_MIN_MEAN_MAPQ=10 #REPLACE_PBFUSION_MIN_MEAN_MAPQ
export PBFUSION_MIN_FUSION_READ_FRACTION=0.25 #REPLACE_PBFUSION_MIN_FUSION_READ_FRACTION
export PBFUSION_MAX_VERBALITY=1000 #REPLACE_PBFUSION_MAX_VERBALITY
export PBFUSION_MAX_READTHROUGH=100000 #REPLACE_PBFUSION_MAX_READTHROUGH

export OPT_PBFUSION_MIN_COVERAGE=2 #REPLACE_OPT_PBFUSION_MIN_COVERAGE
export OPT_PBFUSION_MIN_MEAN_IDENTITY=0.93 #REPLACE_OPT_PBFUSION_MIN_MEAN_IDENTITY
export OPT_PBFUSION_MIN_MEAN_MAPQ=10 #REPLACE_OPT_PBFUSION_MIN_MEAN_MAPQ
export OPT_PBFUSION_MIN_FUSION_READ_FRACTION=0.25 #REPLACE_OPT_PBFUSION_MIN_FUSION_READ_FRACTION
export OPT_PBFUSION_MAX_VERBALITY=1000 #REPLACE_OPT_PBFUSION_MAX_VERBALITY
export OPT_PBFUSION_MAX_READTHROUGH=100000 #REPLACE_OPT_PBFUSION_MAX_READTHROUGH





##### AUTO CONFIG #####

## BASE STORAGE DIRECTORIES
export REF_STORAGE_DIR=${STORAGE_DIR}/ref
[ ! -d ${REF_STORAGE_DIR} ] && mkdir ${REF_STORAGE_DIR}
export SIM_STORAGE_DIR=${STORAGE_DIR}/sim
[ ! -d ${SIM_STORAGE_DIR} ] && mkdir ${SIM_STORAGE_DIR}
export RESULTS_STORAGE_DIR=${STORAGE_DIR}/results
[ ! -d ${RESULTS_STORAGE_DIR} ] && mkdir ${RESULTS_STORAGE_DIR}

## ALIGNMENT STORAGE DIRECTORY
export ALIGNMENT_STORAGE_DIR=${STORAGE_DIR}/alignments
[ ! -d ${ALIGNMENT_STORAGE_DIR} ] && mkdir ${ALIGNMENT_STORAGE_DIR}


export STAR_INDEX_STORAGE_DIR=${REF_STORAGE_DIR}/hg38_star_index

## RESULTS STORAGE DIRECTORIES
export JAFFAL_STORAGE_DIR=${RESULTS_STORAGE_DIR}/jaffal
[ ! -d ${JAFFAL_STORAGE_DIR} ] && mkdir ${JAFFAL_STORAGE_DIR}
export LONGGF_STORAGE_DIR=${RESULTS_STORAGE_DIR}/longgf
[ ! -d ${LONGGF_STORAGE_DIR} ] && mkdir ${LONGGF_STORAGE_DIR}
export GENION_STORAGE_DIR=${RESULTS_STORAGE_DIR}/genion
[ ! -d ${GENION_STORAGE_DIR} ] && mkdir ${GENION_STORAGE_DIR}
export PBFUSION_STORAGE_DIR=${RESULTS_STORAGE_DIR}/pbfusion
[ ! -d ${PBFUSION_STORAGE_DIR} ] && mkdir ${PBFUSION_STORAGE_DIR}
export FUSIONSEEKER_STORAGE_DIR=${RESULTS_STORAGE_DIR}/fusionseeker
[ ! -d ${FUSIONSEEKER_STORAGE_DIR} ] && mkdir ${FUSIONSEEKER_STORAGE_DIR}

export ARRIBA_STORAGE_DIR=${RESULTS_STORAGE_DIR}/arriba
[ ! -d ${ARRIBA_STORAGE_DIR} ] && mkdir ${ARRIBA_STORAGE_DIR}
export STARFUSION_STORAGE_DIR=${RESULTS_STORAGE_DIR}/starfusion
[ ! -d ${STARFUSION_STORAGE_DIR} ] && mkdir ${STARFUSION_STORAGE_DIR}

## GRAPH STORAGE DIRECTORIES
export GRAPHS_STORAGE_DIR=${RESULTS_STORAGE_DIR}/graphs
[ ! -d ${GRAPHS_STORAGE_DIR} ] && mkdir ${GRAPHS_STORAGE_DIR}

## RESOURCES
export DNA_REFERENCE_GEN=${REF_STORAGE_DIR}/GRCh38.primary_assembly.genome.fa
export CDNA_REFERENCE_GEN=${REF_STORAGE_DIR}/gencode.v38.transcripts.fa
export GTF_REFERENCE_GEN=${REF_STORAGE_DIR}/gencode.v38.annotation.gtf

export DNA_REFERENCE=${REF_STORAGE_DIR}/GRCh38.primary_assembly.genome.fa
export CDNA_REFERENCE=${REF_STORAGE_DIR}/gencode.v47.transcripts.fa
export GTF_REFERENCE=${REF_STORAGE_DIR}/gencode.v47.annotation.gtf

export DNA_REFERENCE_ENS=${REF_STORAGE_DIR}/Homo_sapiens.GRCh38.dna.primary_assembly.fa
export CDNA_REFERENCE_ENS=${REF_STORAGE_DIR}/Homo_sapiens.GRCh38.cdna.all.fa
export GTF_REFERENCE_ENS=${REF_STORAGE_DIR}/Homo_sapiens.GRCh38.105.gtf

export PBMM2_MMI=${REF_STORAGE_DIR}/hg38_gencode.mmi

export GENSELF=${REF_STORAGE_DIR}/genion-selfalign.tsv

export STAR_INDEX=${REF_STORAGE_DIR}/hg38_star_index

export GENOMIC_SUPER_DUPS=${REF_STORAGE_DIR}/genomicSuperDups.txt

export CTAT_LIB_DIR=${REF_STORAGE_DIR}/GRCh38_gencode_v22_CTAT_lib_Mar012021.plug-n-play

## Annotion Limit Settings
export TRANSCRIPT_LIMIT=canonical
export TRANSCRIPT_LIMITED_FILE=${REF_STORAGE_DIR}/Homo_sapiens_transcriptome_limited_${TRANSCRIPT_LIMIT}.fa

## FUSION SIMULATION SETTINGS
export NFUSIONS=1000
export FUSIM_FASTA_FILE=${REF_STORAGE_DIR}/fusim_${NFUSIONS}.fasta
export FUSIM_TXT_FILE=${REF_STORAGE_DIR}/fusim_${NFUSIONS}.txt
export FUSIM_REF_FILE=${REF_STORAGE_DIR}/fusim_ref_${NFUSIONS}.txt
export FUSION_TRANSCRIPTOME=${REF_STORAGE_DIR}/Homo_sapiens.GRCh38.cdna.limited_${TRANSCRIPT_LIMIT}_fusions_${NFUSIONS}_2.fa

for file in ${DOCKER_SRC}/*.sh; do
  for ((i=0; i<=3; i++)); do
    sed -i 's/.*#REPLACE_N_TRANSCRIPTS.*/N_TRANSCRIPTS='"$N_TRANSCRIPTS"' #REPLACE_N_TRANSCRIPTS/' $file
    sed -i 's/.*#REPLACE_REPLICATES.*/REPLICATES='"$REPLICATES"' #REPLACE_REPLICATES/' $file
    sed -i 's/.*#REPLACE_COVERAGE.*/COVERAGE='"$COVERAGE"' #REPLACE_COVERAGE/' $file
    sed -i 's/.*#REPLACE_QUALITY.*/QUALITY='"$QUALITY"' #REPLACE_QUALITY/' $file
    sed -i 's/.*#REPLACE_TECH.*/TECH='"$TECH"' #REPLACE_TECH/' $file
    sed -i 's/.*#REPLACE_READ_LENGTHS.*/READ_LENGTHS='"$READ_LENGTHS"' #REPLACE_READ_LENGTHS/' $file
    sed -i 's/.*#REPLACE_MIN_OVERLAP_LEN.*/MIN_OVERLAP_LEN='"$MIN_OVERLAP_LEN"' #REPLACE_MIN_OVERLAP_LEN/' $file
    sed -i 's/.*#REPLACE_BIN_SIZE.*/BIN_SIZE='"$BIN_SIZE"' #REPLACE_BIN_SIZE/' $file
    sed -i 's/.*#REPLACE_MIN_MAP_LENGTH.*/MIN_MAP_LENGTH='"$MIN_MAP_LENGTH"' #REPLACE_MIN_MAP_LENGTH/' $file
    sed -i 's/.*#REPLACE_GENION_MIN_SUPPORT.*/GENION_MIN_SUPPORT='"$GENION_MIN_SUPPORT"' #REPLACE_GENION_MIN_SUPPORT/' $file

## LONGGF OPTIONS
    sed -i 's/.*#REPLACE_LONGGF_MIN_OVERLAP_LEN.*/LONGGF_MIN_OVERLAP_LEN='"$LONGGF_MIN_OVERLAP_LEN"' #REPLACE_LONGGF_MIN_OVERLAP_LEN/' $file
    sed -i 's/.*#REPLACE_LONGGF_BIN_SIZE.*/LONGGF_BIN_SIZE='"$LONGGF_BIN_SIZE"' #REPLACE_LONGGF_BIN_SIZE/' $file
    sed -i 's/.*#REPLACE_LONGGF_MIN_MAP_LENGTH.*/LONGGF_MIN_MAP_LENGTH='"$LONGGF_MIN_MAP_LENGTH"' #REPLACE_LONGGF_MIN_MAP_LENGTH/' $file

    sed -i 's/.*#REPLACE_OPT_LONGGF_MIN_OVERLAP_LEN.*/OPT_LONGGF_MIN_OVERLAP_LEN='"$OPT_LONGGF_MIN_OVERLAP_LEN"' #REPLACE_OPT_LONGGF_MIN_OVERLAP_LEN/' $file
    sed -i 's/.*#REPLACE_OPT_LONGGF_BIN_SIZE.*/OPT_LONGGF_BIN_SIZE='"$OPT_LONGGF_BIN_SIZE"' #REPLACE_OPT_LONGGF_BIN_SIZE/' $file
    sed -i 's/.*#REPLACE_OPT_LONGGF_MIN_MAP_LENGTH.*/OPT_LONGGF_MIN_MAP_LENGTH='"$OPT_LONGGF_MIN_MAP_LENGTH"' #REPLACE_OPT_LONGGF_MIN_MAP_LENGTH/' $file
#
## JAFFAL OPTIONS
    sed -i 's/.*#REPLACE_JAFFAL_MINLEN.*/JAFFAL_MINLEN='"$JAFFAL_MINLEN"' #REPLACE_JAFFAL_MINLEN/' $file
    sed -i 's/.*#REPLACE_JAFFAL_MINQSCORE.*/JAFFAL_MINQSCORE='"$JAFFAL_MINQSCORE"' #REPLACE_JAFFAL_MINQSCORE/' $file
    sed -i 's/.*#REPLACE_JAFFAL_GAPSIZE.*/JAFFAL_GAPSIZE='"$JAFFAL_GAPSIZE"' #REPLACE_JAFFAL_GAPSIZE/' $file
    sed -i 's/.*#REPLACE_JAFFAL_FINALGAPSIZE.*/JAFFAL_FINALGAPSIZE='"$JAFFAL_FINALGAPSIZE"' #REPLACE_JAFFAL_FINALGAPSIZE/' $file
    sed -i 's/.*#REPLACE_JAFFAL_REASSIGN_DIST.*/JAFFAL_REASSIGN_DIST='"$JAFFAL_REASSIGN_DIST"' #REPLACE_JAFFAL_REASSIGN_DIST/' $file
    sed -i 's/.*#REPLACE_JAFFAL_OVERHANG.*/JAFFAL_OVERHANG='"$JAFFAL_OVERHANG"' #REPLACE_JAFFAL_OVERHANG/' $file

    sed -i 's/.*#REPLACE_OPT_JAFFAL_MINLEN.*/OPT_JAFFAL_MINLEN='"$OPT_JAFFAL_MINLEN"' #REPLACE_OPT_JAFFAL_MINLEN/' $file
    sed -i 's/.*#REPLACE_OPT_JAFFAL_MINQSCORE.*/OPT_JAFFAL_MINQSCORE='"$OPT_JAFFAL_MINQSCORE"' #REPLACE_OPT_JAFFAL_MINQSCORE/' $file
    sed -i 's/.*#REPLACE_OPT_JAFFAL_GAPSIZE.*/OPT_JAFFAL_GAPSIZE='"$OPT_JAFFAL_GAPSIZE"' #REPLACE_OPT_JAFFAL_GAPSIZE/' $file
    sed -i 's/.*#REPLACE_OPT_JAFFAL_FINALGAPSIZE.*/OPT_JAFFAL_FINALGAPSIZE='"$OPT_JAFFAL_FINALGAPSIZE"' #REPLACE_OPT_JAFFAL_FINALGAPSIZE/' $file
    sed -i 's/.*#REPLACE_OPT_JAFFAL_REASSIGN_DIST.*/OPT_JAFFAL_REASSIGN_DIST='"$OPT_JAFFAL_REASSIGN_DIST"' #REPLACE_OPT_JAFFAL_REASSIGN_DIST/' $file
    sed -i 's/.*#REPLACE_OPT_JAFFAL_OVERHANG.*/OPT_JAFFAL_OVERHANG='"$OPT_JAFFAL_OVERHANG"' #REPLACE_OPT_JAFFAL_OVERHANG/' $file

## GENION OPTIONS
    sed -i 's/.*#REPLACE_GENION_MIN_SUPPORT.*/GENION_MIN_SUPPORT='"$GENION_MIN_SUPPORT"' #REPLACE_GENION_MIN_SUPPORT/' $file
    sed -i 's/.*#REPLACE_GENION_MIN_RT_DISTANCE.*/GENION_MIN_RT_DISTANCE='"$GENION_MIN_RT_DISTANCE"' #REPLACE_GENION_MIN_RT_DISTANCE/' $file
    sed -i 's/.*#REPLACE_GENION_MAX_RT_FIN.*/GENION_MAX_RT_FIN='"$GENION_MAX_RT_FIN"' #REPLACE_GENION_MAX_RT_FIN/' $file
    sed -i 's/.*#REPLACE_GENION_SUFFIX_LENGTH.*/GENION_SUFFIX_LENGTH='"$GENION_SUFFIX_LENGTH"' #REPLACE_GENION_SUFFIX_LENGTH/' $file
    sed -i 's/.*#REPLACE_GENION_PREFIX_LENGTH.*/GENION_PREFIX_LENGTH='"$GENION_PREFIX_LENGTH"' #REPLACE_GENION_PREFIX_LENGTH/' $file
    sed -i 's/.*#REPLACE_GENION_MID_LENGTH.*/GENION_MID_LENGTH='"$GENION_MID_LENGTH"' #REPLACE_GENION_MID_LENGTH/' $file

    sed -i 's/.*#REPLACE_OPT_GENION_MIN_SUPPORT.*/OPT_GENION_MIN_SUPPORT='"$OPT_GENION_MIN_SUPPORT"' #REPLACE_OPT_GENION_MIN_SUPPORT/' $file
    sed -i 's/.*#REPLACE_OPT_GENION_MIN_RT_DISTANCE.*/OPT_GENION_MIN_RT_DISTANCE='"$OPT_GENION_MIN_RT_DISTANCE"' #REPLACE_OPT_GENION_MIN_RT_DISTANCE/' $file
    sed -i 's/.*#REPLACE_OPT_GENION_MAX_RT_FIN.*/OPT_GENION_MAX_RT_FIN='"$OPT_GENION_MAX_RT_FIN"' #REPLACE_OPT_GENION_MAX_RT_FIN/' $file
    sed -i 's/.*#REPLACE_OPT_GENION_SUFFIX_LENGTH.*/OPT_GENION_SUFFIX_LENGTH='"$OPT_GENION_SUFFIX_LENGTH"' #REPLACE_OPT_GENION_SUFFIX_LENGTH/' $file
    sed -i 's/.*#REPLACE_OPT_GENION_PREFIX_LENGTH.*/OPT_GENION_PREFIX_LENGTH='"$OPT_GENION_PREFIX_LENGTH"' #REPLACE_OPT_GENION_PREFIX_LENGTH/' $file
    sed -i 's/.*#REPLACE_OPT_GENION_MID_LENGTH.*/OPT_GENION_MID_LENGTH='"$OPT_GENION_MID_LENGTH"' #REPLACE_OPT_GENION_MID_LENGTH/' $file

## FUSIONSEEKER OPTIONS
    sed -i 's/.*#REPLACE_FUSIONSEEKER_MAXDISTANCE.*/FUSIONSEEKER_MAXDISTANCE='"$FUSIONSEEKER_MAXDISTANCE"' #REPLACE_FUSIONSEEKER_MAXDISTANCE/' $file

    sed -i 's/.*#REPLACE_OPT_FUSIONSEEKER_MAXDISTANCE.*/OPT_FUSIONSEEKER_MAXDISTANCE='"$OPT_FUSIONSEEKER_MAXDISTANCE"' #REPLACE_OPT_FUSIONSEEKER_MAXDISTANCE/' $file

## PBFUSION OPTIONS
    sed -i 's/.*#REPLACE_PBFUSION_MIN_COVERAGE.*/PBFUSION_MIN_COVERAGE='"$PBFUSION_MIN_COVERAGE"' #REPLACE_PBFUSION_MIN_COVERAGE/' $file
    sed -i 's/.*#REPLACE_PBFUSION_MIN_MEAN_IDENTITY.*/PBFUSION_MIN_MEAN_IDENTITY='"$PBFUSION_MIN_MEAN_IDENTITY"' #REPLACE_PBFUSION_MIN_MEAN_IDENTITY/' $file
    sed -i 's/.*#REPLACE_PBFUSION_MIN_MEAN_MAPQ.*/PBFUSION_MIN_MEAN_MAPQ='"$PBFUSION_MIN_MEAN_MAPQ"' #REPLACE_PBFUSION_MIN_MEAN_MAPQ/' $file
    sed -i 's/.*#REPLACE_PBFUSION_MIN_FUSION_READ_FRACTION.*/PBFUSION_MIN_FUSION_READ_FRACTION='"$PBFUSION_MIN_FUSION_READ_FRACTION"' #REPLACE_PBFUSION_MIN_FUSION_READ_FRACTION/' $file
    sed -i 's/.*#REPLACE_PBFUSION_MAX_VERBALITY.*/PBFUSION_MAX_VERBALITY='"$PBFUSION_MAX_VERBALITY"' #REPLACE_PBFUSION_MAX_VERBALITY/' $file
    sed -i 's/.*#REPLACE_PBFUSION_MAX_READTHROUGH.*/PBFUSION_MAX_READTHROUGH='"$PBFUSION_MAX_READTHROUGH"' #REPLACE_PBFUSION_MAX_READTHROUGH/' $file

    sed -i 's/.*#REPLACE_OPT_PBFUSION_MIN_COVERAGE.*/OPT_PBFUSION_MIN_COVERAGE='"$OPT_PBFUSION_MIN_COVERAGE"' #REPLACE_OPT_PBFUSION_MIN_COVERAGE/' $file
    sed -i 's/.*#REPLACE_OPT_PBFUSION_MIN_MEAN_IDENTITY.*/OPT_PBFUSION_MIN_MEAN_IDENTITY='"$OPT_PBFUSION_MIN_MEAN_IDENTITY"' #REPLACE_OPT_PBFUSION_MIN_MEAN_IDENTITY/' $file
    sed -i 's/.*#REPLACE_OPT_PBFUSION_MIN_MEAN_MAPQ.*/OPT_PBFUSION_MIN_MEAN_MAPQ='"$OPT_PBFUSION_MIN_MEAN_MAPQ"' #REPLACE_OPT_PBFUSION_MIN_MEAN_MAPQ/' $file
    sed -i 's/.*#REPLACE_OPT_PBFUSION_MIN_FUSION_READ_FRACTION.*/OPT_PBFUSION_MIN_FUSION_READ_FRACTION='"$OPT_PBFUSION_MIN_FUSION_READ_FRACTION"' #REPLACE_OPT_PBFUSION_MIN_FUSION_READ_FRACTION/' $file
    sed -i 's/.*#REPLACE_OPT_PBFUSION_MAX_VERBALITY.*/OPT_PBFUSION_MAX_VERBALITY='"$OPT_PBFUSION_MAX_VERBALITY"' #REPLACE_OPT_PBFUSION_MAX_VERBALITY/' $file
    sed -i 's/.*#REPLACE_OPT_PBFUSION_MAX_READTHROUGH.*/OPT_PBFUSION_MAX_READTHROUGH='"$OPT_PBFUSION_MAX_READTHROUGH"' #REPLACE_OPT_PBFUSION_MAX_READTHROUGH/' $file
  done
done

